@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap");

:root {
  --main-font: "Montserrat", sans-serif;
  --spotify-green: #1db954;
  --spotify-grey: #8a8a8a;
  --spotify-white: #bdbbbb;
  --spotify-dark-bg: #181818;
  --spotify-darker-bg: #121212;
}

html,
body {
  font-family: var(--main-font);
  font-weight: 500;
  height: 100%;
}
#logo img {
  max-width: 200px;
}

.login-column h6 {
  color: #000000;
  font-size: 0.9rem;
  font-weight: 700;
}
.full-width {
  width: 100%;
  border: none;
  border-radius: 100px;
  padding: 10px 0;
  margin: 7px 0;
  font-weight: 600;
}
#fb-button {
  background-color: #3e5a9b;
  color: white;
}

#apple-button {
  background-color: black;
  color: white;
}

/* ther is a minor issue, hover affecting to other elements */
#fb-button:hover,
#apple-button:hover,
#sign-up-button:hover {
  font-size: 1.1rem;
}
.or-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 700;
}

.hr-line {
  width: 41%;
  border-top: 1px solid var(--spotify-white);
  transform: translateY(50%);
}

input[type="text"],
input[type="password"] {
  border: 1px solid var(--spotify-white);
  margin: 5px 0;
  padding: 8px 16px;
  border-radius: 2px;
}
::placeholder {
  color: var(--spotify-white);
}

.login-button {
  border: 1px solid grey;
  background-color: #1db954 !important;
  color: white !important;
  font-size: 1.5ch !important;
  letter-spacing: 0.1em;
  margin: 10px 0 !important;
  padding: 10px 70px !important;

  border-radius: 25px !important;
}

.spotify-pass-link {
  color: #1db954;
  font-size: small;
}

.btn-sign-up {
  border: 1px solid rgb(46, 46, 46) !important;
  border-radius: 25px !important;
  font-size: 1.2ch !important;
  color: grey !important;
  letter-spacing: 0.1em;
  font-weight: 700 !important;
}

.new-section-line {
  border-top: 1px solid var(--spotify-white);
}

.policy {
  font-size: xx-small;
  color: var(--spotify-white);
}

.spotify-pp-link {
  color: #1db954;
}

.account {
  font-size: medium;
}

.radio-color {
  color: var(--spotify-white) !important;
  font-size: small;
  font-weight: 600;
}

.w-500-px {
  width: 500px !important;
}

.the-cool-container {
  float: center;
  width: 300px;

  padding: 10px;
  height: 100%;
}
.content-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-container {
  background-color: #1db954 !important;
  border: #1db954;
}
