html,
body {
  background-image: linear-gradient(#212121, #121212);
  line-height: 1.6;
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

.card {
  background-color: #121212;
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card-image-rounded {
  border-radius: 10%;
}

.card-image-container {
  position: relative;
}

.card-img-top {
  z-index: 1;
}

.play-btn {
  background-color: black;
  height: 40px;
  width: 40px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  bottom: 0;
  right: 10%;
  z-index: 2;
  transition: transform 0.3s ease-in-out 0.4s, opacity 0.5s ease-in-out 0.5s;
}

.play-btn:hover {
  border: none;
  opacity: 1;
}

.play-btn:not(:hover) {
  background: rgb(11, 221, 29);
  opacity: 0;
}

.play-btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 2px;
  margin: auto;
  border-style: solid;
  border-width: 7px 0 7px 12px;
  border-color: transparent transparent transparent white;
}

.card:hover {
  background-color: #333333;
}

.card:hover .play-btn {
  opacity: 1;
  transform: translateY(-20px);
}

.row-overflow {
  overflow: hidden;
}

.card-img-top {
  object-fit: none;
  object-position: center;
}

.card-title-music {
  font-style: bold;
}

.more-nav {
  text-decoration: none;
}

.more-nav:hover {
  text-decoration: underline;
}

@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

* {
  box-sizing: border-box;
  font-family: "circular std book", sans-serif;
}

.music-player {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 7rem;
  padding: 1em;
  color: #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.song-bar {
  position: absolute;
  left: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}

.image-container {
  flex-shrink: 0;
  width: 4.5rem;
  height: 4.5rem;
}

.image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-description p {
  margin: 0.2em;
}

.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.artist {
  color: #999;
}

.icons {
  display: flex;
  gap: 1em;
}
.progress-controller {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  color: #999;
}

.control-buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}

.play-pause {
  display: inline-block;
  padding: 1em;
  background-color: #999;
  color: #111;
  border-radius: 50%;
}

.progress-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.progress-bar {
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: #999 !important;
}

.progress {
  position: relative;
  height: 100%;
  width: 30%;
  background-color: #999;
}

.other-features {
  position: absolute;
  right: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.volume-bar {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.volume-bar .progress-bar {
  width: 6em;
}

.nav-main-box {
  display: flex;
  flex-direction: column;
}

.main-links {
  flex-direction: column;
}

a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 200;
}


.side-menu {
    background-color: black;